<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>注册 - Web程序设计</title>
    <!--  Vue.js  -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- bootstrap CSS-->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- LeanCloud -->
    <script src="https://cdn.jsdelivr.net/npm/leancloud-storage@4.7.0/dist/av-live-query-min.js"></script>
    <script type="text/javascript" src="init.js"></script>
    <style>
        body {
            background-color: #0082c9;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row text-center">
            <div class="page-header">
                <h1>
                    <span style="color:#fff;">Web程序设计</span>
                </h1>
            </div>
            <div class="col-sm-4 col-sm-offset-4" id="app1">
                <h2 style="color:#fff;">注册</h2>
                <form id="form1" class="form-horizontal">
                    <div class="form-group input-group">
                        <span class="input-group-addon">
			            	<span class="glyphicon glyphicon-user"></span>
                        </span>
                        <input v-model="username" placeholder="用户名" class="form-control">
                    </div>
                    <div class="form-group input-group">
                        <span class="input-group-addon">
			            	<span class="glyphicon glyphicon-lock"></span>
                        </span>
                        <input v-model="password" type="password" placeholder="新密码" class="form-control">
                    </div>
                    <div class="form-group input-group">
                        <span class="input-group-addon">
			            	<span class="glyphicon glyphicon-lock"></span>
                        </span>
                        <input v-model="password2" type="password" placeholder="再次确认新密码" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="button" value="注册账户" class="btn btn-success btn-block" v-on:click="register()" />
                        <input type="button" value="返回" class="btn btn-default btn-block" onclick="history.back();" />
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        var vm1 = new Vue({
            el: "#app1",
            data: {
                errors: [],
                username: null,
                password: null,
                password2: null
            },
            computed: {
                isvalid: function() {
                    this.errors = [];
                    if (!this.username) {
                        this.errors.push("用户名是必填的");
                    }
                    if (!this.password || !this.password2) {
                        this.errors.push("密码是必填的");
                    }
                    if (this.password != this.password2) {
                        this.errors.push("两次输入的密码不一致！");
                    }
                    return !this.errors.length;
                }
            },
            methods: {
                register: function() {
                    if (!this.isvalid) {
                        alert(`注册失败！原因：${this.errors}`);
                        return;
                    }
                    // 创建实例
                    const user = new AV.User();

                    // 等同于 user.set('username', 'Tom')
                    user.setUsername(this.username);
                    user.setPassword(this.password);

                    // 可选
                    //user.setEmail('tom@leancloud.rocks');
                    //user.setMobilePhoneNumber('+8618200008888');

                    user.signUp().then((user) => {
                        // 注册成功
                        alert(`注册成功！`);
                        //history.back();
                    }, (error) => {
                        // 注册失败（通常是因为用户名已被使用）
                        alert(`注册失败！原因：${error.rawMessage}`);
                    });
                }
            }
        });
    </script>
</body>

</html>