<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>作业 - Web程序设计</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!--  Vue.js  -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- LeanCloud -->
    <script src="https://cdn.jsdelivr.net/npm/leancloud-storage@4.7.0/dist/av-live-query-min.js"></script>
    <script type="text/javascript" src="init.js"></script>
</head>

<body>
    <div id="app" class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <h1>
                    Web程序设计<small>答题页面</small>
                </h1>
            </div>
            <form>
                <questions :obj="selectquestion" :seen="seen" @childvalue="judgeAnswer"></questions>
                <questions :obj="yesnoquestion" :seen="seen" @childvalue="judgeAnswer"></questions>
                <questions :obj="selectquestions" :seen="seen" @childvalue="judgeAnswer"></questions>
                <result ref="result" :seen="seen" :score="score"></result>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-8">
                        <button type="button" class="btn btn-primary" @click="sub()">提交</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script type="text/x-template" id="questions">
        <div class="col-md-offset-2 col-md-8">
            <v-title :title="obj.title" :score="obj.score" :seen="seen"></v-title>
            <div v-for="(question, index) in obj.questions">
                <desp :desp="question.desp" :index="index"></desp>
                <selectquestion-option v-if="obj.title=='单选题'" :question="question" @childvalue="judgeAnswer"></selectquestion-option>
                <yesnoquestion-option v-if="obj.title=='判断题'" :question="question" @childvalue="judgeAnswer"></yesnoquestion-option>
                <selectquestions-option v-if="obj.title=='多选题'" :question="question" @childvalue="judgeAnswer"></selectquestions-option>
                <answer :seen="seen" :isCorrect="question.isCorrect" :useranswer="question.useranswer" :answer="question.answer"></answer>
                <hr>
            </div>
        </div>
    </script>
    <script type="text/x-template" id="result">
        <div class="col-md-offset-2 col-md-8">
            <div v-if="seen" class="alert alert-success" role="alert">
                最终得分：{{(score*100).toFixed(2)+"%"}}
            </div>
        </div>
    </script>
    <script type="text/x-template" id="desp">
        <div>
            {{index+1}}. {{desp}}
        </div>
    </script>
    <script type="text/x-template" id="answer">
        <div v-if="seen" class="alert" v-bind:class="{ 'alert-success': isCorrect ,'alert-danger': !isCorrect}" role="alert">
            我的答案：{{useranswer}} 正确答案：{{answer}}
        </div>
    </script>
    <script type="text/x-template" id="v-title">
        <h3>
            {{title}}
            <small v-if="seen">得分：{{(score*100).toFixed(2)+"%"}}</small>
        </h3>
    </script>
    <script type="text/x-template" id="selectquestion-option">
        <div>
            <div class="radio" v-for="(item, index) in question.items">
                <label>
                <input type="radio" v-bind:value="item" v-model="question.useranswer" @change="judgeAnswer(question)">
                {{ String.fromCharCode(index+65) }}、{{item}}
            </label>
            </div>
        </div>
    </script>
    <script type="text/x-template" id="yesnoquestion-option">
        <div>
            <div class="radio">
                <label class="radio-inline">
            <input type="radio" value="true" v-model="question.useranswer" @change="judgeAnswer(question)"> √
                </label>
                <label class="radio-inline">
            <input type="radio" value="false" v-model="question.useranswer" @change="judgeAnswer(question)"> ×
                </label>
            </div>
        </div>
    </script>
    <script type="text/x-template" id="selectquestions-option">
        <div>
            <div class="checkbox" v-for="(item, index) in question.items">
                <label>
                  <input type="checkbox" v-bind:value="item" v-model="question.useranswer" @change="judgeAnswer(question)">
                  {{ String.fromCharCode(index+65) }}、{{item}}
                </label>
            </div>
        </div>
    </script>
    <script type="text/javascript">
        init();

        function getObject(objectid) {
            var ret = {
                seen: false,
                selectquestion: {
                    title: ''
                },
                yesnoquestion: {
                    title: ''
                },
                selectquestions: {
                    title: ''
                },
                score: NaN
            }
            const query = new AV.Query('Questions');
            query.get(objectid).then((question) => {
                ret.seen = question.get('seen');
                ret.selectquestion = question.get('selectquestion');
                ret.yesnoquestion = question.get('yesnoquestion');
                ret.selectquestions = question.get('selectquestions');
                //randomQuestions
                //randomQuestions(ret.questions);
            }, (error) => {
                alert("获取题目失败！可能是网络问题！");
            });
            return ret;
        }

        function newObject(vm) {
            const test = new AV.Object('Questions');
            test.set('selectquestion', vm.selectquestion);
            test.set('yesnoquestion', vm.yesnoquestion);
            test.set('selectquestions', vm.selectquestions);
            test.set('seen', vm.seen);
            test.save().then((todo) => {
                // 成功保存之后，执行其他逻辑
                console.log(`保存成功。objectId：${todo.id}`);
            }, (error) => {
                // 异常处理
            });
        }

        function randomQuestions(arr) {
            var len = arr.length;
            for (x = 0; x < len; x++) {
                var y = Math.floor(Math.random() * len);
                var tempOption = arr[x];
                Vue.set(arr, x, arr[y]);
                Vue.set(arr, y, tempOption);
            }
        }

        Vue.component("v-title", {
            template: '#v-title',
            props: ['title', 'score', 'seen']
        });
        Vue.component("desp", {
            template: '#desp',
            props: ['desp', 'index']
        });
        Vue.component("answer", {
            template: '#answer',
            props: ['seen', 'isCorrect', 'useranswer', 'answer']
        });
        Vue.component("selectquestion-option", {
            template: '#selectquestion-option',
            props: ['question'],
            methods: {
                judgeAnswer: function() {
                    this.question.isCorrect = this.question.useranswer == this.question.answer;
                    this.$emit('childvalue', this.question)
                }
            }
        });
        Vue.component("yesnoquestion-option", {
            template: '#yesnoquestion-option',
            props: ['question'],
            methods: {
                judgeAnswer: function() {
                    this.question.useranswer = this.question.useranswer == 'true';
                    this.question.isCorrect = this.question.useranswer == this.question.answer;
                    this.$emit('childvalue', this.question)
                }
            }
        });
        Vue.component("selectquestions-option", {
            template: '#selectquestions-option',
            props: ['question'],
            methods: {
                isArrayEqual(value1 = [], value2 = []) {
                    return value1.sort().toString() === value2.sort().toString();
                },
                judgeAnswer() {
                    this.question.isCorrect = this.isArrayEqual(this.question.useranswer, this.question.answer);
                    this.$emit('childvalue', this.question);
                }
            }
        });
        Vue.component("questions", {
            template: '#questions',
            props: ['obj', 'seen'],
            methods: {
                calcscore(questions) {
                    var cnt = 0;
                    var ans = questions.length;
                    for (i in questions) {
                        cnt += questions[i].isCorrect
                    }
                    return 1.0 * cnt / ans;
                },
                judgeAnswer(question) {
                    this.obj.score = this.calcscore(this.obj.questions);
                    this.$emit('childvalue');
                }
            }
        });
        Vue.component("result", {
            template: '#result',
            props: ['seen', 'score']
        });
        var vm = new Vue({
            el: "#app",
            data() {
                return getObject('5fd8ad19c87f3d0b6b5dc40c');
            },
            methods: {
                sub() {
                    if (isNaN(this.score)) {
                        alert("请答完所有题目，再点击提交哦！");
                    } else {
                        this.seen = true;
                    }
                },
                judgeAnswer() {
                    this.score = 1.0 * (this.selectquestion.score + this.yesnoquestion.score + this.selectquestions.score) / 3;
                }
            }
        });
    </script>

</html>