#忽略一些文件追加
*.exe
*.cpp~
*.pas~
*.o
*.*fuse*
*.in
*.out
*.in~
*.out~
*.txt~
*.ans
*.lnk
fp.*

#jzoj
/jzoj/*.exe
/jzoj/*.cpp~
/jzoj/*.pas~
/jzoj/*.o
/jzoj/*.*fuse*
/jzoj/*.in
/jzoj/*.out
/jzoj/*.in~
/jzoj/*.out~
/jzoj/*.txt~
/jzoj/*.swp
/北理珠/acwing/ConsoleApplication1/.vs/ConsoleApplication1/v16

.vscode
.idea
.metadata
.vs
