<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>作业 - Web程序设计</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!--  Vue.js  -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <h1>
                    Web程序设计<small>答题页面</small>
                </h1>
            </div>
        </div>
        <form onsubmit="return sub();">
            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    <h3>
                        一、单选题
                    </h3>
                </div>
                <div id="app1" class="col-md-offset-2 col-md-8">
                    <div v-for="(question, index) in questions">
                        {{index+1}}. {{question.desp}}
                        <br>
                        <div class="radio" v-for="(item, index) in question.items">
                            <label>
                            <input type="radio" v-bind:value="item" v-model="question.useranswer" @change="judgeAnswer(question)">
                            {{ String.fromCharCode(index+65) }}、{{item}}
                        </label>
                        </div>
                        <div v-if="seen" class="alert" v-bind:class="{ 'alert-success': question.isCorrect ,'alert-danger': !question.isCorrect}" class="alert alert-success" role="alert">
                            我的答案：{{question.useranswer}} 正确答案：{{question.answer}}
                        </div>
                        <hr>
                    </div>
                </div>
                <div class="col-md-offset-2 col-md-8">
                    <h3>
                        二、判断题
                    </h3>
                </div>
                <div id="app2" class="col-md-offset-2 col-md-8">
                    <div v-for="(question, index) in questions">
                        {{index+1}}. {{question.desp}}
                        <br>
                        <div class="radio">
                            <label class="radio-inline">
                        <input type="radio" value="true" v-model="question.useranswer" @change="judgeAnswer(question)"> √
                            </label>
                            <label class="radio-inline">
                        <input type="radio" value="false" v-model="question.useranswer" @change="judgeAnswer(question)"> ×
                            </label>
                        </div>
                        <div v-if="seen" class="alert" v-bind:class="{ 'alert-success': question.isCorrect ,'alert-danger': !question.isCorrect}" class="alert alert-success" role="alert">
                            我的答案：{{question.useranswer}} 正确答案：{{question.answer}}
                        </div>
                        </p>
                        <hr>
                    </div>
                </div>
                <div class="col-md-offset-2 col-md-8">
                    <h3>
                        三、多选题
                    </h3>
                </div>
                <div id="app3" class="col-md-offset-2 col-md-8">
                    <div v-for="(question, index) in questions">
                        {{index+1}}. {{question.desp}}
                        <br>
                        <div class="checkbox" v-for="(item, index) in question.items">
                            <label>
                              <input type="checkbox" v-bind:value="item" v-model="question.useranswer" @change="judgeAnswer(question)">
                              {{ String.fromCharCode(index+65) }}、{{item}}
                            </label>
                        </div>
                        <div v-if="seen" class="alert" v-bind:class="{ 'alert-success': question.isCorrect ,'alert-danger': !question.isCorrect}" class="alert alert-success" role="alert">
                            我的答案：{{question.useranswer}} 正确答案：{{question.answer}}
                        </div>
                        </p>
                        <hr>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-8">
                        <button type="submit" class="btn btn-primary">提交</button>
                    </div>
                </div>
        </form>
        </div>
        <script>
            function randomQuestions(arr) {
                var len = arr.length;
                for (x = 0; x < len; x++) {
                    var y = Math.floor(Math.random() * len);
                    var tempOption = arr[x];
                    Vue.set(arr, x, arr[y]);
                    Vue.set(arr, y, tempOption);
                }
            }

            function sub() {
                vm1.$data.seen = true;
                vm2.$data.seen = true;
                vm3.$data.seen = true;
                return false;
            }
            var vm1 = new Vue({
                el: "#app1",
                //Model 层数据
                data: {
                    questions: [{
                        desp: "以下事件中，不属于键盘事件的是",
                        items: ['KeyDown', 'KeyPress', 'KeyOver', 'KeyUp'],
                        answer: 'KeyOver',
                        useranswer: '',
                        isCorrect: false
                    }, {
                        desp: "下列定义函数fun( ),正确的是",
                        items: ['if', 'while', 'int', 'var'],
                        answer: 'var'
                    }, {
                        desp: "JavaScript中，用于声明变量的关键字是",
                        items: ['@function fun( ){ }', 'function: fun( ){ }', 'function fun( ){ }', 'fun( ){ }'],
                        answer: 'function fun( ){ }'
                    }, {
                        desp: "要引用外部show.js文件，正确的是",
                        items: ['<script href="show.js">', '<script src="show.js">', '<script name="show.js">', '<script source="show.js">'],
                        answer: '<script src="show.js">'
                    }],
                    seen: false
                },
                methods: {
                    judgeAnswer: function(question) {
                        question.isCorrect = question.useranswer == question.answer;
                    }
                },
                created: function() {
                    randomQuestions(this.questions);
                    for (i in this.questions) {
                        randomQuestions(this.questions[i].items);
                    }
                }
            });
            var vm2 = new Vue({
                el: "#app2",
                //Model 层数据
                data: {
                    questions: [{
                        desp: "confirm( )方法用于提示用户输入某个值，例如成绩。",
                        answer: false,
                        useranswer: '',
                        isCorrect: false
                    }, {
                        desp: "JavaScript代码可以放置在主体中。",
                        answer: true
                    }, {
                        desp: "document.write(\"5\"===5);  向网页文档中输出true",
                        answer: false
                    }, {
                        desp: "eval() 函数的作用是判断两个字符串是否相等。 ",
                        answer: false
                    }, {
                        desp: "execCommand( )方法是执行一个对当前文档，当前选择或者给出范围的命令。 ",
                        answer: true
                    }, {
                        desp: "split() 方法用于把一个字符串分割成字符串数组。 ",
                        answer: true
                    }, {
                        desp: "用循环  for (property in document){  }   可以访问document对象的属性。 ",
                        answer: true
                    }],
                    seen: false
                },
                methods: {
                    judgeAnswer(question) {
                        question.useranswer = question.useranswer === 'true';
                        question.isCorrect = question.useranswer == question.answer;
                    }
                },
                created: function() {
                    randomQuestions(this.questions);
                }
            });
            var vm3 = new Vue({
                el: "#app3",
                //Model 层数据
                data: {
                    questions: [{
                        desp: "我们想要将页面中的文本采用项目符号的形式予以显示，采用哪些标记组合可以达到我们的要求?",
                        items: ['<P>', '<UL>', '<BR>', '<LI>'],
                        answer: ['<LI>', '<UL>'],
                        useranswer: [],
                        isCorrect: false
                    }, {
                        desp: "RGB三原色的组成是哪三种颜色?",
                        items: ['红', '黄', '蓝', '绿'],
                        answer: ['红', '蓝', '绿'],
                        useranswer: []
                    }, {
                        desp: "下面关于CSS表述正确的是",
                        items: ['CSS是一种制作网页的新技术，现在已经为大多数的浏览器所支持，成为网页设计必不可少的工具之一。', '层叠样式表是HTML的辅助工具，缺点是设计者设计的网页缺少动感，网页内容的排版布局上也有很多困难', '使用CSS能够简化网页的格式代码，加快下载显示的速度，也减少了需要上传的代码数量，大大减少了重复劳动的工作量。', 'CSS是Cascading Stylesheets的缩写，中文意思是层叠样式表'],
                        answer: ['CSS是一种制作网页的新技术，现在已经为大多数的浏览器所支持，成为网页设计必不可少的工具之一。', '使用CSS能够简化网页的格式代码，加快下载显示的速度，也减少了需要上传的代码数量，大大减少了重复劳动的工作量。', 'CSS是Cascading Stylesheets的缩写，中文意思是层叠样式表'],
                        useranswer: []
                    }],
                    seen: false
                },
                methods: {
                    judgeAnswer(question) {
                        function isArrayEqual(value1 = [], value2 = []) {
                            let hash = JSON.parse(JSON.stringify(value2));
                            if (value1.length === value2.length) {
                                for (let i = 0; i < value1.length; i++) {
                                    const index = hash.indexOf(value1[i]);
                                    if (index > -1) {
                                        hash.splice(index, 1);
                                    } else {
                                        return false;
                                    }
                                }
                                return true;
                            }
                            return false;
                        }
                        question.isCorrect = isArrayEqual(question.useranswer, question.answer);
                    }
                },
                created: function() {
                    randomQuestions(this.questions);
                }
            });
        </script>

</html>