<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
<body>
<div class="container">
    <h1>成绩查询</h1>
    姓名<input class="form-control" placeholder="姓名" type="text" id="txt_name"><br>
    成绩<input class="form-control" placeholder="成绩" type="text" id="txt_score"><br>
    <button class="btn btn-primary" id="btn_query">查询</button>
</div>
</body>
<script>
    function ShowScore(data) {
        document.getElementById('txt_score').value = data['score'];
    }
    document.getElementById('btn_query').onclick = function () {
        $.ajax(
            {
                url: '/check/',
                type: 'POST',
                data: {
                    'name': document.getElementById('txt_name').value
                },
                dataType: 'json',
                success: ShowScore
            }
        )
    }
</script>
