{% extends "base.html" %}
{% load static %}

{% block title %}
    产品详情
{% endblock %}

{% block content %}
    <link href="{% static 'css/products.css' %}" rel="stylesheet">
    <!-- 主体内容 -->
    <div class="container">
        <div class="model-details-product-title">
            {{ product.title }}
        </div>
    <div class = "model-details">
        {% for img in product.productImgs.all %}
            <div class="row-4">
                <img class="img-responsive" src = "{{ img.photo.url }}" alt="{{ img.photo }}">
            </div>
        {% endfor %}
        <h3>产品介绍</h3>
        <p>
            {{ product.description | linebreaks }}
        </p>
        <h3>参考价格</h3>
        <p>
            {{ product.price }}元
        </p>
    </div>
    </div>
{% endblock %}

{% block script %}

{% endblock %}
