<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>修改密码 - Web程序设计</title>
    <!--  Vue.js  -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- LeanCloud -->
    <script src="https://cdn.jsdelivr.net/npm/leancloud-storage@4.7.0/dist/av-live-query-min.js"></script>
    <script type="text/javascript" src="init.js"></script>
    <style>
        body {
            background-color: #0082c9;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row text-center">
            <div class="page-header">
                <h1>
                    <span style="color:#fff;">Web程序设计</span>
                </h1>
            </div>
            <div class="col-sm-4 col-sm-offset-4" id="app1">
                <h2 style="color:#fff;">修改密码</h2>
                <form id="form1" class="form-horizontal" onkeydown="if(event.keyCode==13)alterpwd();" form_signature="1115495134076780816">
                    <div class="form-group input-group">
                        <span class="input-group-addon">
                  <span class="glyphicon glyphicon-user"></span>
                        </span>
                        <input v-model="username" placeholder="用户名" class="form-control" readonly>
                    </div>
                    <div class="form-group input-group">
                        <span class="input-group-addon">
                  <span class="glyphicon glyphicon-lock"></span>
                        </span>
                        <input v-model="pwd" type="password" placeholder="旧密码" class="form-control">
                    </div>
                    <div class="form-group input-group">
                        <span class="input-group-addon">
                  <span class="glyphicon glyphicon-lock"></span>
                        </span>
                        <input v-model="newpwd" type="password" placeholder="新密码" class="form-control">
                    </div>
                    <div class="form-group input-group">
                        <span class="input-group-addon">
                  <span class="glyphicon glyphicon-lock"></span>
                        </span>
                        <input v-model="newpwd2" type="password" placeholder="再次确认新密码" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="button" value="修改密码" class="btn btn-success btn-block" @click="alterpwd()">
                        <input type="button" value="返回" class="btn btn-default btn-block" onclick="history.back();">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        const currentUser = AV.User.current();
        var vm1 = new Vue({
            el: "#app1",
            data: {
                errors: [],
                username: null,
                pwd: null,
                newpwd: null,
                newpwd2: null
            },
            computed: {
                isvalid: function() {
                    this.errors = [];
                    if (!this.username) {
                        this.errors.push("用户名是必填的");
                    }
                    if (!this.pwd || !this.newpwd || !this.newpwd2) {
                        this.errors.push("密码是必填的");
                    }
                    if (this.newpwd != this.newpwd2) {
                        this.errors.push("两次输入的新密码不一致！");
                    }
                    return !this.errors.length;
                }
            },
            methods: {
                alterpwd: function() {
                    if (!this.isvalid) {
                        alert(`修改密码失败！原因：${this.errors}`);
                        return;
                    }
                    AV.User.logIn(this.username, this.pwd).then((user) => {
                        currentUser.setPassword(this.newpwd);
                        currentUser.save().then((user) => {
                            alert(`修改密码成功！`);
                            AV.User.logOut();
                            window.location.href = "login.html";
                        }, (error) => {
                            alert(`修改密码失败！原因：${error.rawMessage}`);
                        })
                    }, (error) => {
                        alert(`修改密码失败！原因：${error.rawMessage}`);
                    });
                }
            },
            mounted() {
                if (!currentUser) {
                    console.log(currentUser);
                    window.location.href = "login.html";
                }
                this.username = currentUser.getUsername();
            }
        });
    </script>

</body>

</html>